*.iml
.idea/
.DS_Store
/local.properties
/build/
/captures/
/.externalNativeBuild/
/.cxx/
/app/release/
/app/lite/release/
/app/fullLinks/release/
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.properties
!gradle/wrapper/gradle-wrapper.jar