<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_lite"
        android:label="@string/app_name_lite"
        android:roundIcon="@mipmap/ic_launcher_lite_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:node="replace">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name_lite"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.TransformActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="t.co" />
                <data android:host="vxtwitter.com" />
                <data android:host="nyti.ms" />
                <data android:host="bit.ly" />
                <data android:host="aspedrom.com" />
                <data android:host="is.gd" />
                <data android:host="fb.me" />
                <data android:host="rb.gy" />
                <data android:host="cutt.ly" />
                <data android:host="bit.do" />
                <data android:host="amp.gs" />
                <data android:host="tinyurl.com" />
                <data android:host="goo.gl" />
                <data android:host="nzzl.us" />
                <data android:host="ift.tt" />
                <data android:host="ow.ly" />
                <data android:host="bl.ink" />
                <data android:host="buff.ly" />
                <data android:host="maps.app.goo.gl" />
                <data android:host="vm.tiktok.com" />
                <data android:host="vt.tiktok.com" />
                <data android:host="instagram.com" />
                <data android:host="www.instagram.com" />
                <data android:host="m.instagram.com" />
                <data android:host="mobile.twitter.com" />
                <data android:host="www.twitter.com" />
                <data android:host="twitter.com" />
                <data android:host="pbs.twimg.com" />
                <data android:host="pic.twitter.com" />
                <data android:host="www.youtube.com" />
                <data android:host="m.youtube.com" />
                <data android:host="youtube.com" />
                <data android:host="youtu.be" />
                <data android:host="youtube-nocookie.com" />
                <data android:host="www.reddit.com" />
                <data android:host="reddit.com" />
                <data android:host="i.reddit.com" />
                <data android:host="i.redd.it" />
                <data android:host="old.reddit.com" />
                <data android:host="preview.redd.it" />
                <data android:host="*.reddit.com" />
                <data android:host="tiktok.com" />
                <data android:host="www.tiktok.com" />
                <data android:host="us.tiktok.com" />
                <data android:host="www.medium.com" />
                <data android:host="medium.com" />
                <data android:host="*.medium.com" />
                <data android:host="wikipedia.org" />
                <data android:host="www.wikipedia.org" />
                <data android:host="*.wikipedia.org" />
                <data android:pathPattern=".*" />
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="t.co" />
                <data android:host="vxtwitter.com" />
                <data android:host="nyti.ms" />
                <data android:host="bit.ly" />
                <data android:host="is.gd" />
                <data android:host="fb.me" />
                <data android:host="rb.gy" />
                <data android:host="cutt.ly" />
                <data android:host="bit.do" />
                <data android:host="aspedrom.com" />
                <data android:host="amp.gs" />
                <data android:host="tinyurl.com" />
                <data android:host="goo.gl" />
                <data android:host="nzzl.us" />
                <data android:host="ift.tt" />
                <data android:host="ow.ly" />
                <data android:host="bl.ink" />
                <data android:host="buff.ly" />
                <data android:host="maps.app.goo.gl" />
                <data android:host="vm.tiktok.com" />
                <data android:host="vt.tiktok.com" />
                <data android:host="instagram.com" />
                <data android:host="www.instagram.com" />
                <data android:host="m.instagram.com" />
                <data android:host="mobile.twitter.com" />
                <data android:host="www.twitter.com" />
                <data android:host="twitter.com" />
                <data android:host="pbs.twimg.com" />
                <data android:host="www.youtube.com" />
                <data android:host="m.youtube.com" />
                <data android:host="youtube.com" />
                <data android:host="youtu.be" />
                <data android:host="youtube-nocookie.com" />
                <data android:host="www.reddit.com" />
                <data android:host="reddit.com" />
                <data android:host="i.reddit.com" />
                <data android:host="i.redd.it" />
                <data android:host="old.reddit.com" />
                <data android:host="preview.redd.it" />
                <data android:host="*.reddit.com" />
                <data android:host="tiktok.com" />
                <data android:host="www.tiktok.com" />
                <data android:host="us.tiktok.com" />
                <data android:host="www.medium.com" />
                <data android:host="medium.com" />
                <data android:host="*.medium.com" />
                <data android:host="wikipedia.org" />
                <data android:host="www.wikipedia.org" />
                <data android:host="*.wikipedia.org" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" />
                <data android:pathPattern="/maps/place/.*" />
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:pathPattern="/maps/place/.*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" />
                <data android:pathPattern="/amp/s/.*" />
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:pathPattern="/amp/s/.*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AppsPickerActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:exported="false" />
        <activity
            android:name=".activities.InstanceActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppThemeDialog"
            android:exported="false" />
        <activity
            android:name=".activities.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name_lite"
            android:theme="@style/AppTheme"
            android:exported="false" />
        <activity
            android:name=".activities.CheckAppActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name_lite"
            android:theme="@style/AppTheme"
            android:exported="false" />
        <activity
            android:name=".activities.DefaultAppActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name_lite"
            android:theme="@style/AppTheme"
            android:exported="false" />
        <activity
            android:name=".activities.InvidiousSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/invidious_settings"
            android:theme="@style/AppTheme"
            android:exported="false" />
    </application>
</manifest>